[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/softecspa/puppet-apt.git
[submodule "modules/cygwin"]
	path = modules/cygwin
	url = https://github.com/softecspa/puppet-cygwin.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/softecspa/puppet-git.git
[submodule "modules/librarian_puppet"]
	path = modules/librarian_puppet
	url = https://github.com/softecspa/puppet-librarian_puppet.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/softecspa/puppetlabs-stdlib.git
[submodule "modules/vagrant"]
	path = modules/vagrant
	url = https://github.com/softecspa/puppet-vagrant.git
[submodule "modules/virtualbox"]
	path = modules/virtualbox
	url = https://github.com/softecspa/puppet-virtualbox.git
[submodule "modules/windows_path"]
	path = modules/windows_path
	url = https://github.com/basti1302/puppet-windows-path.git
[submodule "modules/deb"]
	path = modules/deb
	url = https://github.com/softecspa/puppet-deb.git
